@model WebStore.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Карточка сотрудника</h1>

    <div>
        <h4>Сотрудник</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Id)*@
                Табельный номер
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.LastName)*@
                Фамилия
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.FirstName)*@
                Имя
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Patronymic)*@
                Отчество
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Patronymic)
            </dd>
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Age)*@
                Возраст
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>
    </div>
    <div>
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
        <a asp-action="Index">Обратно к списку</a>
    </div>
</div>
